@media screen and (max-width: 626px) {
    /* mobiili */
    .menu {
        position: relative; 
        top: auto;
        right: auto;
        bottom: 0;
        visibility: hidden;
    }
    .nappula{
        
        position: absolute;
        margin-top: 50%;
        
    }
   
   
   


    .lentavat{
        position: relative;
        top:5%;

    }


    #ilmoitukset{
        position: relative;
        z-index: 9;

    }




  }







#play
{


    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%);
    


}




.background{

   
    background-image: url("images/kitchen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body{


    background-color: goldenrod;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    
}

.nappula{

    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
    /*animaatioon */
    transition-property:  transform;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    cursor:pointer;
   

}

.vibrate {
    animation-name:  shaking;
    animation-duration:  0.1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
     
  }
  
  @keyframes shaking {
    0% { transform: translateX(3); }
    25% { transform: translateY(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateY(-3px); }
    100% { transform: translateX(3); }
  }





.naytto {

    display: block;
    color: rgb(59, 27, 34);
    font-size: 30px;
    font-family: 'Comic Sans MS', 'Gill Sans MT','Trebuchet MS', sans-serif;

    
  

}


@font-face {
    font-family: otsikkoFontti;
    src: url("dino.otf");
}



#peliotsikko
{

    font-family: 'otsikkoFontti','Comic Sans MS', 'Gill Sans MT','Trebuchet MS';
    text-align: center;
    color:crimson;
    font-size: 36px;
    
    

}





#ilmoitukset{
    position: absolute;
    right: 30%;
    color: rgb(219, 85, 23);
    font-size: 36px;
    background-color: black;
    width: fit-content;
    font-family: 'Comic Sans MS', 'Gill Sans MT','Trebuchet MS', sans-serif;
}


.lentavat{

position: absolute;



}

#kakkuvalinta,#taco,#shortcake
{
    
   float: inline-end;
    filter: grayscale();
    cursor: not-allowed;
    
    
    
}

.tuotteet{

    
    
    color: rgb(135, 141, 141);
    font-size: 22px;
    font-family: "Comic Sans MS", sans-serif;
    text-align: right;

}

.menu {
    position: absolute;
    right: 0;
    visibility: hidden;
}

/*valintavärin poisto*/
.nappula::selection 
{
    background-color:transparent;
} 
.nappula::-moz-selection
{
    background-color:transparent;
}
.nappula
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    
    -ms-user-select: none;
    user-select: none;

    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  